.product-item {
  &__image {
    @apply relative;
  }

  &__image-dot-wrapper {
    @apply hidden absolute bottom-0 w-full h-8 justify-center items-center space-x-2;

    &.-visible {
      @apply flex;
    }

    .image-dot {
      @apply w-2 h-2 rounded-lg border border-white bg-transparent;

      &.-active {
        @apply bg-secondary border-secondary w-[10px] h-[10px];
      }
    }
  }
}
