{% set product_url = product.absolute_url %}
{% set images = product.productimage_set %}
{% set productImg = images.0.image %}
{% set layout = 3 if layout is not defined else layout %}
{% set imagesData = images|map(attribute="image")|list|replace("'", '"') %}

{% macro ListHoverImage(thumbnailOptions=[
  { '(min-width:1370px)': 'product-list-layout-{}-xl' },
  { '(min-width:1170px)': 'product-list-layout-{}-lg' },
  { '(min-width:768px)': 'product-list-layout-{}-md' },
  { '(min-width:425px)': 'product-list-layout-{}-s' },
  { 'default': 'product-list-layout-{}-xs' }
], useDynamicLayout=true) %}
  <div class="product-item__image js-list-hover-image" data-image-length="{{ images|length }}" data-layout="{{ layout }}" data-images="{{ imagesData }}">
    <a href="{{ product_url }}">
      {% if productImg %}
        <pz-image-placeholder>
          <picture>
            {% set thumb_option = { 'value': '' } %}

            {% for option in thumbnailOptions %}
              {% for key, value in option.items() %}
                {% do thumb_option.update({ 'value': value.format(layout) if useDynamicLayout else value }) %}
          
                {% if key == 'default' %}
                  <img src="{{ thumbnail(productImg, thumb_option.value) }}" alt="{{ product.name }}" data-thumb-option="{{ thumb_option.value }}">
                {% else %}
                  <source media="{{ key }}" srcset="{{ thumbnail(productImg, thumb_option.value) }}" data-thumb-option="{{ thumb_option.value }}">
                {% endif %}
              {% endfor %}
            {% endfor %}
          </picture>
        </pz-image-placeholder>
      {% else %}
        <img src="{{ static('img/noimage.jpg') }}" alt="{{ product.name }}">
      {% endif %}
    </a>

    <div class="product-item__image-dot-wrapper js-list-hover-image-dot-wrapper">
      {% for image in images %}
        <div class="image-dot js-image-dot {{ '-active' if loop.first }}"></div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
